extends layout

block content
  h1 coming soon
  //p Your thoughts aren't linear... why should your <span id="roller">lists</span> be?

block scripts
  //script.(language="JavaScript")
    words = ['wikis','programs','documents', 'specifications','meetings','lists'];
    n = 0;
    setInterval(function(){
      $('#roller').text(words[n++]);
      n%=words.length;
    }, 1000);