!!! 5
html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='productivity software for real people')
  meta(name='author', content='Ryan Muller')
  title domore.io
    if title
      = " | "+title
  //link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
  link(href='/css/glyphicons.css', rel='stylesheet')
  link(href='bootstrap/css/cosmo.min.css', rel='stylesheet')
  link(href='/css/sticky-footer-navbar.css', rel='stylesheet')

  //if lt IE 9
    script(src='js/html5shiv.js')
body(style="padding-top:60px;")
  #wrap
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            .glyphicons.white.log_book
            |  domore.io
        .navbar-right
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            if user
              li.active: a(href='#') dash
              li: a.navbar-link(href='#')= user.username
              li: a.navbar-link(href='/logout', title='log out') log out
            else
              li.active: a(href='/') home
              li: a.navbar-link(href='/login') log in
    .container
      block content
      script(src='js/jquery-1.10.2.min.js')
      block scripts
  #footer
    .container
      .text-muted.credit
        a(href='/') domore.io
        |  &copy; 2013 ryan muller | version&nbsp;
        a(href='/changelog')= version
        |  | powered by&nbsp;
        a(href='http://nodejs.org') node.js
        |  | icons by&nbsp;
        a(href='http://glyphicons.com/') jan kovařík
