extends layout

block content
  h1 log in
  form.form-horizontal(method='post')
    fieldset
      .control-group
        label.control-label(for='username') username
        .controls
          input#username.input-xlarge(type='text', name='username')
      .control-group
        label.control-label(for='password') password
        .controls
          input#password.input-xlarge(type='password', name='password')
      .form-actions(style="margin-top:10px;")
        button.btn.btn-primary(type='submit') go

block scripts
  