extends layout

block content
  h1 todo for
    = " "+user.username
  div(style="padding-bottom:20px")
    .input-group
      input.form-control#entry(autocomplete="false")
      .input-group-btn: a.btn.btn-success#crunch
        .glyphicon.glyphicon-play
  .row
    .col-md-6#results-1
    .col-md-6#results-2
  #taskEditor.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Modal title
        .modal-body
          div: strong Title
          div: input#todo-title(type='text')
          div: strong Description
          div: textarea#todo-desc
          div: strong Start
          div
            input#todo-start-date(type='date')
            input#todo-start-time(type='time')
          div: strong End
          div
            input#todo-end-date(type='date')
            input#todo-end-time(type='time')
          div: strong Blocked by
            input#todo-blocked-by(type='text')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Ok




block scripts
  script(type="text/javascript", src="/js/jquery.timeago.js")
  script(type="text/javascript", src="/js/typeahead.min.js")
  script(type="text/javascript", src="/js/todo.js")