extends layout

block content
  h1 todo for
    = " "+user.username
  div(style="padding-bottom:20px")
    .input-group
      input.form-control#entry(autocomplete="false")
      .input-group-btn: a.btn.btn-success#crunch
        .glyphicon.glyphicon-play
  .row
    .col-md-6#results-1
    .col-md-6#results-2
  #taskEditor.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Modal title
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes




block scripts
  script(type="text/javascript", src="/js/jquery.timeago.js")
  script(type="text/javascript", src="/js/typeahead.min.js")
  script(type="text/javascript", src="/js/todo.js")